@page "/"

<PageTitle>Welcome to the length calculator</PageTitle>

<h1>Length Calculator</h1>
<span>Centimeter</span>
<input type="number" @bind="CentimeterConvoter" />
<hr />
<span>Millimeter</span>
<input type="number" @bind="MillimeterConvoter" />=
<span>Foot</span>
<input type="number" @bind="FootConvoter" />=
<span>Inch</span>
<input type="number" @bind="InchConvoter" />=
<span>Kilometer</span>
<input type="number" @bind="KilometerConvoter" />